doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title Catico
		link(rel="stylesheet", type="text/css", href="style.css")
	body
		- var projectPath = "img/projects/"
		include vectors.svg
		.wrapper
			include menu.pug
			.logo
				.logo_wrapper
					include logo.svg
			main.main
				section.section.intro
					//- .intro_bg
						//- include ../img/lines.svg
					.intro_text
						h1.intro_title Catico
						//- .intro_border
						.intro_subtitle full stack web development
					.intro_link projects
						.intro_arrows
							svg.intro_arrow
								use(xlink:href="#arrow")
							svg.intro_arrow
								use(xlink:href="#arrow")
							svg.intro_arrow
								use(xlink:href="#arrow")
				section.section.proj
					ul.proj_list
						li
							img.proj_img(src=projectPath+"project1.png")
							.proj_overlay
								.proj_title Calculator
								.proj_descr Javascript calculator
								.proj_links
									a(href="#").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="#").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="#").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #js #jquery
						li
							img.proj_img(src=projectPath+"project2.png")
							.proj_overlay
								.proj_title Votex
								.proj_descr Application for creating polls.
								.proj_links
									a(href="#").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="#").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="#").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #sass #js #nodejs #heroku #mongodb
						li
							img.proj_img(src=projectPath+"project3.png")
							.proj_overlay
								.proj_title Markdown previewer
								.proj_descr Markdown previewer in React
								.proj_links
									a(href="#").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="#").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="#").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #sass #react
						li
							img.proj_img(src=projectPath+"project4.png")
							.proj_overlay
								.proj_title Pomodoro
								.proj_descr Pomodoro timer in Javascript.
								.proj_links
									a(href="#").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="#").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="#").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #js #jquery
						li
							img.proj_img(src=projectPath+"project5.png")
							.proj_overlay
								.proj_title Quote machine
								.proj_descr Generator of random quotes.
								.proj_links
									a(href="#").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="#").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="#").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #css #js #jquery #api
						li
							img.proj_img(src=projectPath+"project6.png")
							.proj_overlay
								.proj_title Facebook clone
								.proj_descr Simple clone of Facebook with basic functionality built in Ruby on Rails.
								.proj_links
									a(href="#").proj_link
										svg
											use(xlink:href="#link")
										span demo
									a(href="#").proj_link
										svg
											use(xlink:href="#codepen")
										span codepen
									a(href="#").proj_link
										svg
											use(xlink:href="#github")
										span github
								.proj_tags #html #bootstrap #css #sass #ruby #rails
				section.section
					.section_left
					.section_top
						//- h2.section_bgtitle.section_bgtitle__process Creative process
					.process
						h2.process_title Skills
							//- .process_el
							//- 	.process_icon
							//- 		include ../img/bulb.svg
							//- 	h3.process_title Think
							//- 	.process_line
							//- 		include ../img/drawing.svg
							//- 	ul.process_list
							//- 		li Research
							//- 		li Analyze
							//- 		li Wireframe
							//- .process_el
							//- 	.process_icon
							//- 		include ../img/pencil.svg
							//- 	h3.process_title Design
							//- 	.process_line
							//- 		include ../img/drawing.svg
							//- 	ul.process_list
							//- 		li Create
							//- 		li Interface
							//- 		li Experience
							//- .process_el
							//- 	.process_icon
							//- 		include ../img/screen.svg
							//- 	h3.process_title Develop
							//- 	.process_line
							//- 		include ../img/drawing.svg
							//- 	ul.process_list
							//- 		li Code
							//- 		li Optimize
							//- 		li Deploy
						ul.process_services
							li design
							li development
							li ui / ux
							li responsivity
							li cross-browser compatibility
							li mobile / desktop
					.section_right
						//- h2.section_bgtitle.section_bgtitle__skills Skills
						ul#icons
							//- li.layer.small(data-depth="0.30")
							//- 	i.layer_icon.small_icon.devicon-d3js-plain
							//- 	i.layer_icon.small_icon.devicon-grunt-plain
							//- 	i.layer_icon.small_icon.devicon-photoshop-plain
							//- 	i.layer_icon.small_icon.devicon-mysql-plain
							//- 	i.layer_icon.small_icon.devicon-rails-plain
							//- 	i.layer_icon.small_icon.devicon-ruby-plain
							//- 	i.layer_icon.small_icon.devicon-gulp-plain
							//- li.layer.medium(data-depth="0.60")
							//- 	i.layer_icon.medium_icon.devicon-bootstrap-plain
							//- 	i.layer_icon.medium_icon.devicon-heroku-plain
							//- 	i.layer_icon.medium_icon.devicon-less-plain
							//- 	i.layer_icon.medium_icon.devicon-nodejs-plain
							//- 	i.layer_icon.medium_icon.devicon-sass-plain
							//- 	i.layer_icon.medium_icon.devicon-mongodb-plain
							//- 	i.layer_icon.medium_icon.devicon-react-plain
							//- li.layer.large(data-depth="1.00")
							//- 	i.layer_icon.large_icon.devicon-html5-plain
							//- 	i.layer_icon.large_icon.devicon-css3-plain
							//- 	i.layer_icon.large_icon.devicon-javascript-plain
							//- 	i.layer_icon.large_icon.devicon-jquery-plain
							//- 	i.layer_icon.large_icon.devicon-git-plain
							//- 	i.layer_icon.large_icon.devicon-github-plain
							//- 	i.layer_icon.large_icon.devicon-bitbucket-plain
							li.layer.small.shadow(data-depth="0.20")
								i.layer_icon.small_icon.devicon-d3js-plain
								i.layer_icon.small_icon.devicon-grunt-plain-wordmark
								i.layer_icon.small_icon.devicon-photoshop-plain
								i.layer_icon.small_icon.devicon-mysql-plain-wordmark
								i.layer_icon.small_icon.devicon-rails-plain-wordmark
								i.layer_icon.small_icon.devicon-ruby-plain-wordmark
								i.layer_icon.small_icon.devicon-gulp-plain
							li.layer.medium.shadow(data-depth="0.50")
								i.layer_icon.medium_icon.devicon-bootstrap-plain-wordmark
								i.layer_icon.medium_icon.devicon-heroku-plain-wordmark
								i.layer_icon.medium_icon.devicon-less-plain-wordmark
								i.layer_icon.medium_icon.devicon-nodejs-plain-wordmark
								i.layer_icon.medium_icon.devicon-sass-plain
								i.layer_icon.medium_icon.devicon-mongodb-plain-wordmark
								i.layer_icon.medium_icon.devicon-react-plain-wordmark
							li.layer.large.shadow(data-depth="0.90")
								i.layer_icon.large_icon.devicon-html5-plain-wordmark
								i.layer_icon.large_icon.devicon-css3-plain-wordmark
								i.layer_icon.large_icon.devicon-javascript-plain
								i.layer_icon.large_icon.devicon-jquery-plain-wordmark
								i.layer_icon.large_icon.devicon-git-plain-wordmark
								i.layer_icon.large_icon.devicon-github-plain-wordmark
								i.layer_icon.large_icon.devicon-bitbucket-plain-wordmark
							//- li.layer.small.shadow(data-depth="0.10")
							//- 	i.layer_icon.small_icon.devicon-d3js-plain
							//- 	i.layer_icon.small_icon.devicon-grunt-plain-wordmark
							//- 	i.layer_icon.small_icon.devicon-photoshop-plain
							//- 	i.layer_icon.small_icon.devicon-mysql-plain-wordmark
							//- 	i.layer_icon.small_icon.devicon-rails-plain-wordmark
							//- 	i.layer_icon.small_icon.devicon-ruby-plain-wordmark
							//- 	i.layer_icon.small_icon.devicon-gulp-plain
							//- li.layer.medium.shadow(data-depth="0.40")
							//- 	i.layer_icon.medium_icon.devicon-bootstrap-plain-wordmark
							//- 	i.layer_icon.medium_icon.devicon-heroku-plain-wordmark
							//- 	i.layer_icon.medium_icon.devicon-less-plain-wordmark
							//- 	i.layer_icon.medium_icon.devicon-nodejs-plain-wordmark
							//- 	i.layer_icon.medium_icon.devicon-sass-plain
							//- 	i.layer_icon.medium_icon.devicon-mongodb-plain-wordmark
							//- 	i.layer_icon.medium_icon.devicon-react-plain-wordmark
							//- li.layer.large.shadow(data-depth="0.80")
							//- 	i.layer_icon.large_icon.devicon-html5-plain-wordmark
							//- 	i.layer_icon.large_icon.devicon-css3-plain-wordmark
							//- 	i.layer_icon.large_icon.devicon-javascript-plain
							//- 	i.layer_icon.large_icon.devicon-jquery-plain-wordmark
							//- 	i.layer_icon.large_icon.devicon-git-plain-wordmark
							//- 	i.layer_icon.large_icon.devicon-github-plain-wordmark
							//- 	i.layer_icon.large_icon.devicon-bitbucket-plain-wordmark
							li.layer.small(data-depth="0.30")
								i.layer_icon.small_icon.devicon-d3js-plain
								i.layer_icon.small_icon.devicon-grunt-plain-wordmark
								i.layer_icon.small_icon.devicon-photoshop-plain
								i.layer_icon.small_icon.devicon-mysql-plain-wordmark
								i.layer_icon.small_icon.devicon-rails-plain-wordmark
								i.layer_icon.small_icon.devicon-ruby-plain-wordmark
								i.layer_icon.small_icon.devicon-gulp-plain
							li.layer.medium(data-depth="0.60")
								i.layer_icon.medium_icon.devicon-bootstrap-plain-wordmark
								i.layer_icon.medium_icon.devicon-heroku-plain-wordmark
								i.layer_icon.medium_icon.devicon-less-plain-wordmark
								i.layer_icon.medium_icon.devicon-nodejs-plain-wordmark
								i.layer_icon.medium_icon.devicon-sass-plain
								i.layer_icon.medium_icon.devicon-mongodb-plain-wordmark
								i.layer_icon.medium_icon.devicon-react-plain-wordmark
							li.layer.large(data-depth="1.00")
								i.layer_icon.large_icon.devicon-html5-plain-wordmark
								i.layer_icon.large_icon.devicon-css3-plain-wordmark
								i.layer_icon.large_icon.devicon-javascript-plain
								i.layer_icon.large_icon.devicon-jquery-plain-wordmark
								i.layer_icon.large_icon.devicon-git-plain-wordmark
								i.layer_icon.large_icon.devicon-github-plain-wordmark
								i.layer_icon.large_icon.devicon-bitbucket-plain-wordmark
							//- 
							//- li.layer.small.shadow(data-depth="0.20")
							//- 	img.layer_icon.small_icon(src="img/d3js-original.svg")
							//- 	img.layer_icon.small_icon(src="img/grunt-original-wordmark.svg")
							//- 	img.layer_icon.small_icon(src="img/photoshop.jpg")
							//- 	img.layer_icon.small_icon(src="img/mysql-original-wordmark.svg")
							//- 	img.layer_icon.small_icon(src="img/rails-plain-wordmark.svg")
							//- 	img.layer_icon.small_icon(src="img/ruby-original-wordmark.svg")
							//- li.layer.medium.shadow(data-depth="0.50")
							//- 	img.layer_icon.medium_icon(src="img/bootstrap-plain-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src="img/heroku-original-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src="img/less-plain-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src="img/nodejs-original-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src="img/sass-original.svg")
							//- 	img.layer_icon.medium_icon(src="img/mongodb-original-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src="img/react-original-wordmark.svg")
							//- li.layer.large.shadow(data-depth="0.90")
							//- 	img.layer_icon.large_icon(src="img/html5-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src="img/css3-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src="img/javascript-original.svg")
							//- 	img.layer_icon.large_icon(src="img/jquery-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src="img/git-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src="img/github-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src="img/bitbucket-original-wordmark.svg")
							//- li.layer.small(data-depth="0.30")
							//- 	img.layer_icon.small_icon(src=imgpath+"d3js-original.svg")
							//- 	img.layer_icon.small_icon(src=imgpath+"grunt-original-wordmark.svg")
							//- 	img.layer_icon.small_icon(src=imgpath+"photoshop.jpg")
							//- 	img.layer_icon.small_icon(src=imgpath+"mysql-original-wordmark.svg")
							//- 	img.layer_icon.small_icon(src=imgpath+"rails-plain-wordmark.svg")
							//- 	img.layer_icon.small_icon(src=imgpath+"ruby-original-wordmark.svg")
							//- li.layer.medium(data-depth="0.60")
							//- 	img.layer_icon.medium_icon(src=imgpath+"bootstrap-plain-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src=imgpath+"heroku-original-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src=imgpath+"less-plain-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src=imgpath+"nodejs-original-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src=imgpath+"sass-original.svg")
							//- 	img.layer_icon.medium_icon(src=imgpath+"mongodb-original-wordmark.svg")
							//- 	img.layer_icon.medium_icon(src=imgpath+"react-original-wordmark.svg")
							//- li.layer.large(data-depth="1.00")
							//- 	img.layer_icon.large_icon(src=imgpath+"html5-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src=imgpath+"css3-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src=imgpath+"javascript-original.svg")
							//- 	img.layer_icon.large_icon(src=imgpath+"jquery-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src=imgpath+"git-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src=imgpath+"github-original-wordmark.svg")
							//- 	img.layer_icon.large_icon(src=imgpath+"bitbucket-original-wordmark.svg")
							
				section.section.contact
					.contact_left
						.contact_icons
							h2.contact_title Get in touch
							.icons
								a.icons_el(href="https://github.com/CATlCO", target="_blank")
									.icons_icon
										svg
											use(xlink:href="#github")
									h3.icons_title Checkout my code at 
										span Github
								a.icons_el(href="http://codepen.io/catico/", target="_blank")
									.icons_icon
										svg
											use(xlink:href="#codepen")
									h3.icons_title See my other projects at 
										span Codepen
								a.icons_el(href="mailto:hello@catico.xyz")
									.icons_icon
										svg
											use(xlink:href="#email")
									h3.icons_title Say hi at 
										span hello@catico.xyz
					.contact_right
						.contact_form
							.contact_overlay Thank you! I'll be in touch soon.
							form#contact_form
								span.contact_input
									input.contact_field#input-1(type="text", name="name", required)
									label.contact_label(for="input-1")
										svg.contact_border
											use(xlink:href="#input")
										span.contact_labelName Name
								span.contact_input
									input.contact_field#input-2(type="email", name="_reply_to", required)
									label.contact_label(for="input-2")
										svg.contact_border
											use(xlink:href="#input")
										span.contact_labelName Email
								span.contact_input
									textarea.contact_field.contact_msg#input-3(name="message", required)
									label.contact_label(for="input-3")
										svg.contact_border.msg
											use(xlink:href="#textarea")
										span.contact_labelName Message
								button.contact_submit(type="submit") 
									span Send
					.contact_cp Copyright 2016 Catico. All rights reserved.
		script(src="script.js")
